@font-face {
	font-family: "Bebas Neue";
	src: url(../fonts/BebasNeueRegular.ttf);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	font-family: Arial;
	line-height: 1;
}

.order {
	padding: 1.5rem 1rem 2rem;
	max-width: 590px;
	
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
	border: 10px solid #ebebeb;
}

/* LIST OF PLANS */
.order__plan {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 1rem;
	cursor: pointer;
	border: 1px solid transparent;
	transition: 0.3s ease;
}

.order__plan:hover {
	background-color: #ebf4f7;
	border: 1px solid #b8d7e2;
}

.order__plan .order__plan-hidden:checked {
	background-color: #ebf4f7;
}

.order__plan-hidden {
	display: none;
}

.order__plan-title,
.order__total-text {
	display: flex;
	align-items: center;
	margin: 0;
	font-family: "Bebas Neue";
	font-size: 19px;
	color: #787878;
	text-transform: uppercase;
}

.order__plan-radio {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	height: 2rem;
	width: 2rem;
}

.order__plan-radio::before {
	position: absolute;
	top: 50%;
	left: 50%;

	content: "";
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0.3rem solid #ebebeb;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: border-color 0.3s ease;
}

.order__plan-radio::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: "";
	display: none;
	height: 0.75rem;
	width: 0.75rem;
	background-color: #0294bf;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.order__plan-hidden:checked + .order__plan-title .order__plan-radio::after {
	display: block;
}

.order__plan-hidden:checked + .order__plan-title .order__plan-radio::before,
.order__plan:hover .order__plan-radio::before {
	border-color: #386790;
}

.order__plan-desc {
	font-size: 0.75rem;
	color: #787878;
}

/* COUNT OF ORDERING PLANS */
.order__count {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
	margin-top: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.order__count-title {
	margin-right: 10px;
	font-size: 11px;
	color: #323232;
}

.order__select {
	position: relative;
	width: 60px;
}

.order__select::after {
	content: "";
	display: block;
	border-style: solid;
	border-width: 5px 3px 2px 3px;
	border-color: #000 transparent transparent transparent;
	pointer-events: none;
	position: absolute;
	top: 50%;
	right: 0.5rem;
	z-index: 1;
	margin-top: -3px;
	border-radius: 1px;
}

.order__select-inner {
	display: block;
	width: 100%;
	padding: 8px 4px;
	background: none;
	border: 2px solid #8bade4;
	border-radius: 3px;
	appearance: none;
	font-family: inherit;
	font-size: 11px;
	color: #323232;
}

/* Total */
.order__total {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
}

.order__total-text {
	margin-bottom: 1rem;
}

.order__total-summary {
	position: relative;
	display: inline-block;
	margin-left: 6px;
	color: #3388a8;
}

.order__total-value::after {
	content: "US";
	position: absolute;
	top: 3px;
	right: -10px;
	display: block;
	font-size: 12px;
}

.order__total-selected {
    margin-top: 2.5rem;
    font-size: 14px;
    color: #3388A8;
}

/*Button*/

.order__btn {
	padding: 20px 60px;
	background-color: #33a845;
	color: #f2ffff;
	font-family: inherit;
	font-size: 11px;
	text-transform: uppercase;
	border: none;
	border-radius: 2rem;
	cursor: pointer;
    transition: background-color .3s ease;
}

.order__btn:hover {
	background-color: rgb(51, 168, 69, 0.7);
}
